{% extends "template.html" %}
{% block title %}Decoder{% endblock title %}
{% block pageTitle %}Boldify Decoder{% endblock pageTitle %}
{% block navLink %}decode{% endblock navLink %}

{% block body %}
{{ super() }}
<form method="POST" action="" class="needs-validation" novalidate>
  {{ ckeditor.create() }}
  <input type="submit" class="btn btn-primary mt-3">
</form>
</form>
{% endblock body %}

{% block results %}
{{ super() }}
{% if data != None %}
  <p style="font-size: 20px;">{{ data }}</p>
{% endif %}
{% endblock results %}

{% block script %}
<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
{% endblock script %}