{% extends "template.html" %}
{% block title %}Encoder{% endblock title %}
{% block pageTitle %}Boldify Encoder{% endblock pageTitle %}
{% block navLink %}encode{% endblock navLink %}

{% block body %}
{{ super() }}
<form method="POST" action="" class="needs-validation" novalidate>
  {{ form.hidden_tag() }}
  <div class="form-group">
      {{ form.boldMessage.label(class="form-control-label") }}
      {% if form.boldMessage.errors %}
        <div class="input-group">
          {{ form.boldMessage(class="form-control form-control-lg is-invalid") }}
          {{ form.submit(class="btn btn-primary") }}
        </div>
      {% else %}
        <div class="input-group">
          {{ form.boldMessage(class="form-control form-control-lg") }}
          {{ form.submit(class="btn btn-primary") }}
        </div>
      {% endif %}
  </div>
  </form>
</form>
{% endblock body %}

{% block results %}
{{ super() }}
{% if data != None %}
  <p style="font-size: 20px;">{{ data }}</p>
{% endif %}
{% endblock results %}