{% extends "template.html" %}
{% block title %}Home{% endblock title %}
{% block navLink %}home{% endblock navLink %}

{% block body %}
<h1><b>Bold</b>ify</h1>
<hr>
<h3>Boldify is a steganographic encryption scheme that hides a message within another message using bold letters. This site is the official encoding and decoding engine of this scheme.</h3>
<div class="d-flex justify-content-center mt-3">
  <a href="encode"><button class="btn btn-lg btn-primary me-3">Encode</button></a>
  <a href="decode"><button class="btn btn-lg btn-secondary">Decode</button></a>
</div>
{% endblock body %}